//
   Created by WhiteNight on 2016-05-25.
extends layout

block content

    if name
        #layout
            include usernav
            include boardtable
    else
        #layout
            include nav
            include boardtable



