//
   Created by WhiteNight on 2016-05-18.

#page-content-wrapper
    .header
        .row
            .col-md-6
                h1 Movie Information
            .col-md-6
                .input-group#seracharea
                    input#search_input.form-control(type='text', placeholder="Serach")
                    span.input-group-btn
                        button#search.btn.btn-default(type='button', data-loading-text='searching..', autocomplete='off') Go!
        h2       
    .grid#grid
        each item in row
            .item
                a.thumbnail.movie(code="#{item.code}" data-toggle="modal" data-target="#myModal")
                    img(src="/images/movie/Poster/#{item.code}.jpg")
    #readmore
        button#myButton.btn.btn-primary(type='button', data-loading-text='Loading...', autocomplete='off') Read More

include script
