.grid
	#grid-content.row
		each item in row

				.grid-item.col-xs-12.col-md-3(class='#{item.genre1}')
					a.thumbnail(href='/movie/#{item.url}',data-toggle='modal' data-target='#myModal')
						img(src='#{item.imgpath}')



