//
   Created by WhiteNight on 2016-05-18.

.wrapper
    .header
        h1 Page Title
        h2 A subtitle for your page goes here
    .grid#grid
        each item in row
            .item
                a.thumbnail(href='/movie/#{item.code}' data-toggle="modal" data-target="#movieModal")
                    img(src="/images/Poster/#{item.code}.jpg")
.readmore
    button#myButton.btn.btn-primary(type='button', data-loading-text='Loading...', autocomplete='off') Lead More

include script