extends layout

block content
    body

        //nav.jade include
        include nav
        .button-group.filters-button-group
            button.button.is-checked(data-filter='*') show all
            button.button(data-filter='.애니메이션') metal
            button.button(data-filter='.transition') transition
            button.button(data-filter='.alkali, .alkaline-earth') alkali and alkaline-earth
            button.button(data-filter=':not(.transition)') not transition
            button.button(data-filter='.metal:not(.transition)') metal but not transition
            button.button(data-filter='numberGreaterThan50') number > 50
            button.button(data-filter='ium') name ends with ?ium

        script.
            $(document).ready(function () {
               $(window).scroll(function(){
                   var scrollHeight = $(window).scrollTop()+$(window).height();
                   var documentHeight= $(document).height();
                   if(scrollHeight == documentHeight){

                   }
               })
            })
            $(function () {
                // init Isotope
                var $grid = $('.grid').isotope({
                    itemSelector: '.gird-item',
                    layoutMode: 'fitRows'
                });
                // filter functions
                var filterFns = {
                    numberGreaterThan50: function () {
                        var number = $(this).find('.number').text();
                        return parseInt(number, 10) > 50;
                    },
                    // show if name ends with -ium
                    ium: function () {
                        var name = $(this).find('.name').text();
                        return name.match(/ium$/);
                    }
                };
                // bind filter button click
                $('.filters-button-group').on('click', 'button', function () {
                    var filterValue = $(this).attr('data-filter');
                    // use filterFn if matches value
                    filterValue = filterFns[filterValue] || filterValue;
                    $grid.isotope({filter: filterValue});
                });
                // change is-checked class on buttons
                $('.button-group').each(function (i, buttonGroup) {
                    var $buttonGroup = $(buttonGroup);
                    $buttonGroup.on('click', 'button', function () {
                        $buttonGroup.find('.is-checked').removeClass('is-checked');
                        $(this).addClass('is-checked');

                    });
                });
            });


        #myModal.modal.fade
            .modal-dialog
                .modal-content
        //grid.jade include
        include grid
