doctype html
html
	head
		title= title
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
		link(rel='stylesheet' href='/css/starter-template.css')
		script(type='text/javascript', src='http://code.jquery.com/jquery-2.1.4.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
		script(src='/js/imagesloaded.pkgd.min.js')
		script(src='/js/isotope.pkgd.min.js')
		script(src='/js/script.js')
		meta(name='viewport', content='initial-scale=1, maximum-scale=1')
	block content