.container
  nav.navbar.navbar-default(role='navigation')
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/') Movie Information
      // Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav
          li
            a(href='/') Home

          li.dropdown
            a.dropdown-toggle(data-toggle='dropdown')
              | Filtering
              b.caret

            li.dropdown
              a.dropdown-toggle(data-toggle='dropdown')
                | Sorting
                b.caret


        form.navbar-form.navbar-left(role='search')
          .form-group
            input.form-control(type='text', placeholder='Search')
          button.btn.btn-default(type='submit') Submit
        ul.nav.navbar-nav.navbar-right
          li
            a(href='/register') Sing in
          li
            a(href='/login') Login

      // /.navbar-collapse