#myModal.modal.fade(role='dialog')
  .modal-dialog
    // Modal content
    .modal-content
      #movieModalHeader.modal-header
        button.close(type='button', data-dismiss='modal') ×
        #header
      #movieModalbody.modal-body
        .container-fluid
          .row
            #moviePosterContainer.col-md-5.container-fluid
            #movieActorsContainer.col-md-7.container-fluid 
            
        .container-fluid
          #movieInformationArea.row
            
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Close
