//
   Created by WhiteNight on 2016-05-25.

script(src="/javascript/script.js")
script(src="/javascript/imagesloaded.pkgd.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")