//
   Created by WhiteNight on 2016-05-15.

a#menuLink.menu-link(href='#menu')
    span
#menu
    .pure-menu
        a.pure-menu-heading(href='/') Movie
        ul.pure-menu-list
            li.pure-menu-item
                a.pure-menu-link(href='/user/#{name}/profile') #{name} 님
            li.pure-menu-item
                a.pure-menu-link(href='/api/logout') LogOut
            li.pure-menu-item
                a.pure-menu-link(href='/board') 자유게시판


