//
   Created by WhiteNight on 2016-05-26.
extends layout

block content

    if name
        #layout
            include usernav
            include writeform
    else
        #layout
            include nav
            include writeform



