//
   Created by WhiteNight on 2016-05-11.
include loginModal

a#menuLink.menu-link(href='#menu')
    span
#menu
    .pure-menu
        a.pure-menu-heading(href='/') Movie
        ul.pure-menu-list
            li.pure-menu-item
                a.pure-menu-link(href ='' role="button" data-toggle='modal', data-target='#login-modal') login
            li.pure-menu-item
                a.pure-menu-link(href='#') Services
            li.pure-menu-item
                a.pure-menu-link(href='/board/view') 자유게시판


